#gallery{
    padding: 40px;
    background:pink;
}
.gallery-item{
    background: linear-gradient(rgba(241,161,13),rgb(rgb(255,165,0)));
    width: 500px;
    height: 250px;
    overflow: hidden;
    text-align: center;

}
.gallery-item img{
    display: block;
    max-width: 100%;
    max-height: 100%
    opacity: 1;
    transition: 0.75s;
}
.gallery-item img:hover{
    transform: scale(1.2);
}
@media screen and (min-width:576px){
    #gallery-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    #gallery-center{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}