body{
    font-family: 'Tangerine', sans-serif;
    font-style: italic;
    font-weight:400;
    color: black;
    letter-spacing: 1px;

}
.container{
    background-color: #fafafa;
    margin: 100px;
    box-shadow:  10px 15px 20px rgba(168, 43, 168, 0.1);
    display:grid;
    grid-template-columns: 40% 60%;

}
.container-time{
    background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    padding:50px;
    outline:3px dashed black;
    outline-offset: -30px;
    text-align:center;
}
.heading{
    font-size: 35px;
    text-transform: uppercase;
    color:green;
}
.heading-days{
    color:blue;
    font-size: 30px;

}
.heading-phone{
    font-size: 20px;
    color: brown;
}
.container-form{
    padding: 20px 0;
    margin: 0 auto;
    color:#000;

}
form{
    display: grid;
    grid-row-gap:20px;

}
form p{
    font-weight: 600;
}
.form-field{
    display: flex;
    justify-content: space-between;

}
input,select{
    pad: 10px 15px;

}
.btn{
    background-color: rgba(0,0,0,.95);
    color:#fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    box-shadow: 7px 10px 12px rgba(0,0,0,.1);
    cursor: pointer;
    transition: all -3s;
}
.btn a{
    color: white;
    text-decoration: none;
}
